@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome !</h1>

Welcome to your new app.
<div class="col-md-4 mb-3">
    <div class="card h-100 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">machine.Name</h5>
            <p class="card-text"><strong>Series:</strong> machine.Series</p>
            <p class="card-text"><strong>Type:</strong> machine.Type</p>
            <button class="btn btn-primary">Get Assets</button>
        </div>
    </div>
</div>