<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MachineWebApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

       

        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="AllMachines">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> All Machines
            </NavLink>
        </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="assets-by-machine">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Assets by Machine
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="machines-by-asset">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Machines by Asset
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="latest-series">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Latest Series
            </NavLink>
        </div>
        

        

    </nav>
</div>

